@cardwidth:280px;
@cardimgWidth:100%;
.card{
	width: @cardwidth;
    border: 1px solid #C3C0C0;
    padding: 20px;
    position:absolute;
    height:350px;
    background-color:white;
    img{
    	width:100%;
    }
    p{
    	line-height:20px;
    }
}